{% extends "base.html" %}
{% load i18n %}

{% load static %}


{% block content %}
	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({{about_banner.big_slide.url}});">
		<h2 class="l-text2 t-center" style="color:#242424">
			{% blocktrans %} À propos {% endblocktrans %}
		</h2>
	</section>

	<!-- content page -->
	<section class=" p-t-66 p-b-38 m-b-50">
		<div class="container">
			<center><h1 classe="l-text2 t-center m-t-10">
				{% if LANGUAGE_CODE != 'ar' %}
					Bienvenue, nous sommes la boutique LaMarchesa
				{% else %}
					أهلا نحن بوتيك لا مارشيسا
				{%endif%}
			</h1></center>
			<p class="t-center m-t-30">
				{% trans "Nous avons ouvert en août 2020, et depuis cette belle journée d&#39;été, nous travaillons dur pour vous offrir de trendy, edgy, pratiques et surtout confortables chaussures et accessoires. La Marchesa Boutique souhaite que vous vous sentiez bien de jour comme de nuit, quelle que soit l&#39;occasion. Nous voulons que chaque visite dans notre boutique donne l&#39;impression que vous explorez le placard de votre ami le plus élégant !" %}
			</p>
			<div class="row " style="margin-top: 100px;">
				<div class="col-lg-6 p-b-30">
					<div class="hov-img-zoom">
						<img class="img-fluid" src="{% if first_media %} {{first_media.big_slide.url}} {% else %} {% static 'images/about.jpg' %}{% endif %}" alt="IMG-ABOUT">
					</div>
				</div>
				<div class="col-lg-6 p-b-30" style="margin-top:70px"> 
					<center class="mb-5">
					<p>
						{% trans "WHO WE ARE" %}
					</p>
					<h2>{% trans "Meet the Designer" %}</h2>
				</center>
					<p class="p-b-11 t-center ">
						{% trans "Je suis inspirée par les street styles, et après avoir passé quelques années à m&#39;imprégner de l&#39;ambiance et les vibes de la ville, je savais que j&#39;étais prête à concevoir mes propres chaussures et accessoires. À La Marchesa Boutique, je conçois ce que je ressens et je ressens ce que je conçois. C&#39;est une combinaison qui maintient les choses vivantes." %}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 p-b-30 m-t-30" style="margin-top:70px" > 
					<center class="mb-5">
					<p>
						{% trans "OUR STORY" %}
					</p>
					<h2>{% trans "Trendy Tradition" %}</h2> 
				</center>
					<p class="p-b-11 t-center">
						{% trans "J&#39;aime le fashion. J&#39;aime aussi les chaussures et les accessoires qui durent plus longtemps qu&#39;une seule saison. Après tout, si vous avez trouvé un article que vous aimez vraiment, ne voulez-vous pas le porter plus longtemps qu&#39;une seule saison ? Nous voulions créer une boutique qui vende des chaussures et des accessoires trendy. Nous voulons que vous sachiez que quoi que vous achetiez ici, vous pourrez en profiter pendant des années !" %}
					</p>
				</div>
				<div class="col-lg-6 p-b-30">
					<div class="hov-img-zoom">
 						<img class="img-fluid" src="{% if last_media %} {{last_media.big_slide.url}} {% else %} {% static 'images/about.jpg' %}{% endif %}" alt="LaMarchesa - Vente de vêtements en ligne!">
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock content %}
